.slider ul li img {
    opacity: .6;
    filter: grayscale(80%);
    transition: 2s;
}

.slider ul li h3,
.slider ul li h5 {
    text-shadow: 1px 1px 4px rgba(27, 27, 27, 0.8);
}

.slider ul li img:hover {
    opacity: 1;
    filter: grayscale(0);
}

.about .container .row {
    text-align: justify;
}

.parallax {
    box-sizing: border-box;
    height: 240px;
    padding: 20px;
    background-image: url(img/A.jpg);
    background-attachment: fixed;
    background-size: cover;
}


.parallax h3 {
    margin-top: -5px;
    text-align: center;
    color: white;
    font-weight: lighter;
    opacity: .7;
    text-shadow: 1px 1px 4px rgba(17, 17, 17, .6);
}

.teknologi {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.teknologi img {
    box-sizing: border-box;
    padding: 0 30px;
    transition: 1s ease;
    /* border: 1px solid red; */
}

.teknologi img:hover {
    scale: 1.2;
    filter: grayscale(1);
}



.documentasi {
    width: 100%;
    box-sizing: border-box;
    background-image: url(img/5.jpg);
    opacity: 1;
    overflow: hidden;
    padding: 10px;
    background-attachment: fixed;
    background-size: cover;
}

.documentasi h2 {
    margin-top: -10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

/* .responsive-img.cards {
    height: 200px;
} */

.image {
    overflow: hidden;
    border-radius: 10px;
    /* min-height: 200px; */
    /* border: 1px solid black; */
}

.image img {
    box-shadow: 0px 4px 5px black;
    opacity: 1;
}



footer {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #012c2e;
}

footer h3 {
    color: white;
    /* font-size: 20px; */
}